---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import JsonFormatter from '../../components/JsonFormatter.astro';
import AdBanner from '../../components/AdBanner.astro';
import FeatureDocumentation from '../../components/FeatureDocumentation.astro';

const lang = 'ja';
---

<Layout lang={lang}>
  <Header lang={lang} />
  <main>
    <JsonFormatter lang={lang} />
  </main>
  <AdBanner />
  <FeatureDocumentation lang={lang} />
</Layout> 