---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import JsonFormatter from '../components/JsonFormatter.astro';
import AdBanner from '../components/AdBanner.astro';
---

<Layout title="JSON 格式化工具 - 在线JSON格式化、压缩、验证、转换">
  <Header />
  <main>
    <JsonFormatter />
  </main>
  <AdBanner />
</Layout>

<script src="../scripts/json-formatter.js"></script> 